//- Header Components

header
  block header
    .container.header__content
      video.header__video(src="assets/videos/hero.mov" loop autoplay="true" muted)


      //- Use it for v2
      //- img(src="assets/images/logo.png", alt="Logo apfilm")
      //- h2.header__title apfilms
      //- ul.header__job__listing
      //-   //- Creating a loop wich iterate for each element in array
      //-   each job in ['Wedding','Corporate','Event','Commercial','Travel','Real Estate']
      //-     li.header__job__items= job
      //- h3.header__subtitle filmmaker



      ul.header__social__listing
        //- Creating a loop wich iterate for each element in array
        //- each social in [`<i class="fab fa-facebook-f"></i>`,'Twitter','Vimeo']
        li.header__social__items
          a(href="#", title="title")
            <i class="fab fa-facebook-f"></i>
        li.header__social__items
          a(href="#", title="title")
            <i class="fab fa-instagram"></i>
        li.header__social__items
          a(href="#", title="title")
            <i class="fab fa-vimeo-v"></i>
      .scrollable