//- Index.pug
extends ../assets/components/chrome/layout.pug
block head
	- var titlePage = 'Homepage'
block scripts
	//- script(src='/jquery.js')
	//- script(src='/pets.js')

block content
	h1= titlePage
	p ceci est un TEST