/* Layout */

body {
	color: red;
}



/* Header ----------------------------------------------------*/

	header{
		height: 100vh;
	}


/* Projets ----------------------------------------------------*/

.project{
		position: relative;
		height: 100vh;

		&--img{
			position: relative;
			display: block;
			z-index: -1;
			width: 40vw;
			height: 40vw;
			background: $mainColor;
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
			transition: all .2s $cubicBezier;
		}

			&:after{
				display: block;

				position: absolute;
				z-index: 1;
				color: $secondaryColor;
				font-size: 450px;
				font-family: $titleFont;
				bottom: 0;
				opacity: .5;
			}

			&:nth-child(1){

				&:after{
				content: "1";

				}
			}
			&:nth-child(2){

				&:after{
				content: "2";

				}
			}
			&:nth-child(3){

				&:after{
				content: "3";

				}
			}
			&:nth-child(4){

				&:after{
				content: "4";

				}
			}



		&--information{
			position: relative;
			clear:both;
			text-align: center;
			color: $secondaryColor;
			top: 10%;
			font-size: 2.4rem;
			letter-spacing: 5px;
			font-family: $titleFont;
			transition: all .2s $cubicBezier;

		}

		&:nth-child(2n+1){

			.title--project{

				left: 10%;

				span{


					&:nth-child(3){

					margin-left: 14%;

					}

			}

		}
			.project--img{
				clear: both;
			}

			&:after{
				left: -14%;
			}
		}

		&:nth-child(2n){

			.title--project{
				clear: both;
				right: 10%;
				text-align: right;

				span{


					&:nth-child(3){

					margin-right: 14%;

					}

				}

			}

			.project--img{
				float: right;
			}



			&:after{
				right: -14%;
			}
		}
}




/* Contenu ----------------------------------------------------*/

	.content{
		font: $textStyle;
		line-height: 1.444em;


		&--main{
			width: 65.5%;
			margin: 0 auto;

		}
	}