/* Debut du pré-set */


html{


}

body{
	margin: 0;
	padding: 0;
	position:relative;
	background: $mainColor;
	color: $textColor;
	font: $textStyle;
	-webkit-font-smoothing: antialiased;

}

::selection{
  background-color: $textColor;
  color: $secondaryColor;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}
 
.container{
	position: relative;
	width: 92.1875%; /* (1280 - 100) / 12,8 */
	max-width: 1080px;
	margin: 0 auto; 
}

.cf{
	clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.center{
	display:block;
	text-align:center;
}
.overflow{
	overflow:hidden;

}
/* Fin du pré-set */