/* Title */


.title{

		color: $secondaryColor;
		font-family: $titleFont;
		text-transform: uppercase;
		font-weight: 900;
		z-index: -1;

		&--main{
			position: relative;
			font-size: 144px;
			width: 65.5%;
			line-height: 1em;
			margin: 100px auto 72px auto;

			span{

				&:nth-child(1){

					@include transform(translateX(0));
				}


			}

		}

		&--project{
			font-size: 144px;
			width: 90%;
			position: absolute;
			z-index: 1;
			bottom: 25%;
			transition: all .2s;
		}
	}

