/* VARIABLES */


/* COLOR SCHEME */


$mainColor: #FEFEFE; /* Background color */
$secondaryColor: #F6293A; /* Usually the focal color */
$textColor: #111111; /* Scale of black */
$textColorbis: #111111; /* Scale of white */


/* FONT STYLE */ 

$titleFont: "bebas-neue";
$textStyle: 18px "proxima-nova", sans-serif;


/* CUBIC BEZIER */

$cubicBezier: cubic-bezier(0.215, 0.61, 0.355, 1);