//Avoid typekit FOUT
html {
  &.js {
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.wf-active,
    &.wf-inactive,
    &.ready {
      opacity: 1;
    }
  }

  &.is-locked {
    overflow: hidden;
  }
}

body {
  // Scrollbars for Internet Explorer
  scrollbar-face-color: $c-dark;
  scrollbar-track-color: $c-light;
}

// SVG sprite
body > svg {
  display: none;
}

// RWD
img {
  max-width: 100%;
  height: auto;
}
