// Import fonts

/* sass-lint:disable max-line-length no-duplicate-properties */
@font-face {
  font-family: 'Calluna';
  src: url('../../../fonts/calluna-italic.otf') format('otf'), /* Modern Browsers */
  url('../../../fonts/calluna-italic.otf') format('otf'); /* Modern Browsers */
  font-style: italic;
  font-weight: 400;
}

/* sass-lint:disable max-line-length no-duplicate-properties */
@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/montserrat.otf') format('otf'), /* Modern Browsers */
  url('../../../fonts/montserrat.otf') format('otf'); /* Modern Browsers */
  font-style: italic;
  font-weight: 400;
}

/* sass-lint:disable max-line-length no-duplicate-properties */
@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/montserrat-bold.otf') format('otf'), /* Modern Browsers */
  url('../../../fonts/montserrat-bold.otf') format('otf'); /* Modern Browsers */
  font-style: italic;
  font-weight: 700;
}

/* sass-lint:disable max-line-length no-duplicate-properties */
@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/montserrat-book.otf') format('otf'), /* Modern Browsers */
  url('../../../fonts/montserrat-book.otf') format('otf'); /* Modern Browsers */
  font-style: italic;
  font-weight: 300;
}
